[submodule "software"]
	path = software
	url = ../TrivialMIPS_Software.git
[submodule "testbench/cloud/thinpad_cloud_sdk"]
	path = testbench/cloud/thinpad_cloud_sdk
	url = https://github.com/z4yx/Thinpad-Cloud-SDK.git
